*.tar.gz
*.zip
*.tar.bz2
rpm/a
rpm/b
rpm/.pkg_build
rpm/devdeps-openssl
rpm/devdeps-libcurl
rpm/devdeps-mxml
rpm/devdeps-s3-cpp-sdk
rpm/devdeps-relaxed-rapidjson
rpm/devdeps-mariadb-connector-c
rpm/devdeps-abseil-cpp
rpm/devdeps-fast-float
rpm/devdeps-s2geometry
rpm/devdeps-boost
ossutil64
